* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: #4ac4e2; /* New background color */
    color: #333; /* New text color */
    font-family: Arial, sans-serif;
}

#info,
#headline {
    text-align: center;
    padding: 10px;
    color: #0f0f0f; /* New heading text color */
}

#headline {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #0f0f0f; /* New heading text color */
}

#tip_cal {
    background-color: #ecf0f1;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    color: #0f0f0f;
    font-family: 'WildWest';
    font-size: 1.3rem;
   
}

.form-input {
    border: 2px solid #0f0f0f;
    border-radius: 5px;
    padding: 5px;
    color: #0f0f0f;
}
